<?xml version="1.0" encoding="utf-8"?>
<!-- 20180211 PKM Added per lint suggestion:
    On SDK version 23 and up, your app data will be automatically backed up and restored
    on app install. Consider adding the attribute `android:fullBackupContent` to specify
    an `@xml` resource which configures which files to backup.
    More info: https://developer.android.com/training/backup/autosyncapi.html" -->
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.paulmender.udacity.popularmovies">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:name=".app.MovieApplication"
        android:icon="@mipmap/ic_movie_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_movie_launcher_round"
        android:logo="@mipmap/ic_movie_launcher"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:allowBackup="true"
        android:fullBackupContent="@xml/movie_backup_rules"
        tools:ignore="GoogleAppIndexingWarning">

        <!-- ActivityExtension -->
        <activity android:name="com.paulmender.android.support.v7.app.appcompatactivity.extensions.ActivityExtension">
        </activity>

        <!-- Movie Activity Base Class -->
        <!-- Note: This cannot be an abstract class. -->
        <activity android:name=".app.BaseMovieActivity">
        </activity>

        <!-- Main Activity -->
        <activity
            android:name=".MovieMainActivity"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- Movie Detail Activity -->
        <activity
            android:name=".MovieDetailActivity"
            android:label="@string/movie_detail_title"
            android:parentActivityName=".MovieMainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".MovieMainActivity" />
        </activity>

        <!-- Movie Review Activity -->
        <activity
            android:name=".MovieReviewActivity"
            android:label="@string/movie_review_title"
            android:parentActivityName=".MovieDetailActivity">
        </activity>

        <!-- Content Provider -->
        <provider
            android:name=".content.contentprovider.MovieFavoriteProvider"
            android:authorities="@string/content_authority"
            android:exported="false" />

        <!-- Service -->
        <service
            android:name=".app.service.MovieFavoriteIntentService"
            android:exported="false" />

    </application>

</manifest>